<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
</head>
<body>
{% include "common/header.html" %}
<a href="/news">NEWS HERE!!!!</a>
<img src="{% static 'img/1.png' %}" alt="My image"/>

<h1>This is heading 1</h1>
<p>This is an ordinary paragraph. Notice that this text is blue.
    The default text color for a page is defined in the body selector.</p>
<div class="panel-news">
    {% if articles %}
    {%for article in articles%}
    <a href="{% url 'article' article.pk %}"><div class="news-items">
        <p>{{article.title}}</p>
        {% if article.image %}
            <img  src='{{ article.image.url }}' class="img-rounded" height="100px" >
        {% else %}
            <img  src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png' class="img-rounded" height="100px" >
        {% endif %}
    </div></a>
    {% endfor %}
    {% else %}
    <p>no posts yet)</p>
    {% endif %}
</div>
</body>
</html>