appdirs==1.4.3
bleach==2.0.0
dj-database-url==0.4.2
Django==1.10
django-appconf==1.0.1
django-ckeditor==5.2.2
django-image-cropping==1.0.4
django-markdownify==0.1.0
django-markdownx==2.0.21
easy-thumbnails==2.4.1
gunicorn==19.7.1
html5lib==0.999999999
Markdown==2.6.8
olefile==0.44
packaging==16.8
Pillow==4.1.0
psycopg2==2.7.1
pyparsing==2.2.0
pytz==2017.2
six==1.10.0
webencodings==0.5.1
whitenoise==3.3.0
